<a href="https://colab.research.google.com/github/RustyEmmerain/CPEN-21A-ECE-2-3/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indention

In [4]:
if 5>2:
  print("Five is greater than two") #This code shows a string of words.

Five is greater than two

Python Variable

In [3]:
a, b, c = 0, 1, 2
d = "Sally" #This is a type of string 
s = 'Mark' #This is a type of string
A = "Raymond" #This is a type of string 
print(a)
print(b)
print(c)
print(d)
print(s)
print(A)

0
1
2
Sally
Mark
Raymond

Casting

In [5]:
print(float(4))

4.0

Type Function

In [6]:
f = 56
print(type(f))

<class 'int'>

In [7]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [8]:
x = y = z = "four" #Multiple Variables with single value
print(x)
print(y)
print(z)

four
four
four

In [10]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Operations in Python

In [13]:
k = 10
l = 5 
print(k+l)

15

In [14]:
k += l #k is the same k = k+l
print(k)

15

In [15]:
k>l and l==l

True

In [16]:
k<l or k==k

True

In [17]:
not(k<l or k==k)

False

In [18]:
k is not l

True

In [19]:
k%=5